.logo-container {
  text-align: center;
  margin-bottom: 2rem;
  .header-logo {
    width: 150px;
    @include tablet {
      width: 200px;
    }
  }
}

.info-divider {
  font-family: $font__main;
  line-height: 2;
  margin-left: 2rem;
  @include tablet {
    justify-content: space-evenly;
    display: flex;
    margin-left: 0;
    height: 7rem;
    align-items: center;
  }
}

.info-divider > * {
  font-family: 'Oxygen Mono', monospace;
  height: 7rem;
  @include tablet {
    padding: 0 3rem;
    border-right: 1px solid black;
  }
}

.logo-anchor {
  text-align: center;
}

.brushstroke {
  background: url(../../assets/brushstroke.png) 70% -140% no-repeat;
  background-size: 120%;
  background-size: 800px;
  @include tablet {
    background-position: 70% 00%;
    background-size: 1500px;
  }
  @include desktop {
    background-position: 70% -10%;
    background-size: 1800px;
  }
  height: 200px;
}

.resume {
  border-right: none;
}

.number, .email, .linkedin, .github {
  display: flex;
  &:hover {
    background: url(../../assets/brushstroke.png);
    background-position: 50% 70%;
    background-size: 100% 110%;
    background-repeat: no-repeat;
    color: white;
  }
}

.info-divider-centered {
  margin: auto 0;
}
