.portfolio {
    background-color: black;
}

.proj-header {
    font-size: 2rem;
    text-align: center;
    text-transform: capitalize;
    color: white;
}

.website-completed {
    height: 100vh;
}

.diviwebsite {
    min-height: 200px;
}

.backgroundken {
    background: url(../../assets/kenlogo.svg) no-repeat;
}
.backgroundtent {
    background: url(../../assets/inhabitent.svg) no-repeat;
}
.backgroundquotes {
    background: url(../../assets/quotes.png) no-repeat;
}
.backgroundume {
    background: url(../../assets/ume.png) no-repeat;
}

.website-completed {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    background: black;
    text-align: center;
    justify-items: center;
    align-items: center;
    grid-gap: 30px;
    .diviwebsite {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 50%;
        background-position: 100% 100%;
        background-size: 100% 100%;
        &:hover {
            -webkit-filter: brightness(0.5);
            filter: brightness(0.5);
          }
    }
}

.diviwebsite .backgroundweb {
    visibility: hidden;
    .diviwebsite:hover .backgroundweb:hover {
        visibility: visible;

    }

}