.website-completed {
    min-height: 40vh;
}

.diviwebsite {
    min-height: 200px;
}

.backgroundken {
    background: url(../../assets/kenlogo.svg) no-repeat;
}
.backgroundtent {
    background: url(../../assets/canoe-girl.jpg) no-repeat;
}
.backgroundquotes {
    background: url(../../assets/quotes.png) no-repeat;
}
.backgroundume {
    background: url(../../assets/ume.png) no-repeat;
}